$redcolor: rgb(232, 80, 91);

.howto{
    width:100%;
    background-color: $redcolor;
    height: 780px;
    border: none;

    &__container{
        width:1200px;
        margin:0 auto;
        display: flex;
        justify-content:space-around;
        height:660px;
        overflow:hidden;

    }

    &__item{
        height:660px;
    }

    &__img{
        height:660px;
    }
}